---
layout: default
---

<article class="page">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <p>
      Sorry - I have not posted anything at the address you are attempting to
      visit. Please try again by going
      <a href="{{ site.baseurl }}/">back to the homepage</a>
    </p>

    <a
      href="{{ site.baseurl }}/"
      style="
        display: block;
        height: 400px;
        margin: 0 auto;
        padding: 0;
        width: 400px;
      "
    >
      <img
        alt="Constructocat by https://github.com/jasoncostello"
        src="{{ site.baseurl }}/images/404.jpg"
        style="border-radius: 25%; width: 400px"
      />
    </a>
  </div>
</article>
